<launch>

    <arg name="lt_subdomain" default="uoa-webhook-server"/>
    <arg name="lt_port" default="8888"/>

    <node name="lt" type="run_lt" pkg="dialogflow_dialog" output="screen" args=" -s $(arg lt_subdomain) --port $(arg lt_port)" />
    <node name="webhook_server_node" type="webhook_server_for_evaluation.py" pkg="dialogflow_dialog" output="screen">
        <param name="port_num" value="$(arg lt_port)" />
        <param name="weather_api" value="$(find dialogflow_dialog)/config/weather_api.json"/>
    </node>

    <env name="GOOGLE_APPLICATION_CREDENTIALS" value="$(find dialogflow_dialog)/config/service_key.json"/>
    <node name="dialogflow_dialog" type="node.py" pkg="dialogflow_dialog" output="screen"/>
</launch>
